<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tuva.On.Line</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="hold-transition skin-yellow sidebar-mini">
    @if (User.Identity.IsAuthenticated)
    {
        <div class="wrapper">
            @Html.Partial("~/Views/Landing/HorizontalTop.cshtml")
            @Html.Partial("~/Views/Landing/NavMenu.cshtml")
            @*<div class="navbar navbar-inverse navbar-fixed-top">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            @Html.ActionLink("Имя приложения", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li>@Html.ActionLink("Домашняя страница", "Index", "Home")</li>
                                <li>@Html.ActionLink("О программе", "About", "Home")</li>
                                <li>@Html.ActionLink("Контакт", "Contact", "Home")</li>
                            </ul>
                            @Html.Partial("_LoginPartial")
                        </div>
                    </div>
                </div>*@
            <div id="cw" class="content-wrapper" style="padding:15px">
                @RenderBody()

            </div>

            @if (User.Identity.IsAuthenticated)
            {
                <footer class="main-footer">
                    <div class="pull-right hidden-xs">
                        <b>Версия</b> 0.1.22
                    </div>
                    <strong>2011 - @DateTime.Now.Year tuva.online</strong>
                </footer>
            }

           
        </div>

    }
    @if (!User.Identity.IsAuthenticated)
    {
        <div>
            @RenderBody()
        </div>
    }
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
